{% extends 'template.html' %}
{% block titulo %} - {{nome}}{% endblock %}
{% block corpo %}

{% if titulo == 'Alteração de Categoria' %}
{% set name = obj.name %}
{% set description = obj.description %}
<form action="/alterar_categoria/{{identifier}}" method="POST">
    {% else %}
    {% set name = '' %}
    {% set description = '' %}
    <form action="/cadastrar_categoria">
        {% endif %}
        <label>Nome :</label> <input type="text" name="name" id="name" value="{{name}}" />
        <label>Descrição :</label> <input type="text" name="description" id="description" value="{{description}}" />
        <input type='submit' value='Criar' />
    </form>
    <a href='/'>Voltar</a>

    {% endblock %}