{% extends 'template.html' %}
{% block titulo %} - {{nome}}{% endblock %}
{% block corpo %} 

{% if titulo == 'Alteração de Produto' %}
{% set name = product.name  %}
{% set description = product.description %}
{% set price = product.price %}
<form action="/alterar_produto/{{identifier}}" method="POST">
{% else %}
{% set name = ''  %}
{% set description = ''  %}
{% set price = ''  %}
<form action="/cadastrar_produto">
{% endif %}
    <label>Nome :</label> <input type="text" name="name" id="name" value="{{name}}" />
    <label>Descrição :</label> <input type="text" name="description" id="description" value="{{description}}" />
    <label>Preço :</label> <input type="number" name="price" id="price" value="{{price}}" />
    <input type='submit' value='Criar' />
</form>
<a href='/'>Voltar</a>

{% endblock %}