{% extends 'template.html'%}
{% block corpo %}
<h1>Lojinha Olist</h1>
<ol>
    <li>
        <a href="/cadastrar_marketplace">Cadastro de Marketplace</a>
    </li>
    <li>
        <a href="/cadastrar_produto">Cadastro de Produto</a>
    </li>
    <li>
        <a href="/cadastrar_categoria">Cadastro de Categoria</a>
    </li>
    <li>
        <a href="/listar_produtos">Produtos Cadastrados</a>
    </li>
     <li>
        <a href="/listar_marketplaces">Marketplaces Cadastrados</a>
    </li>
</ol>
{% endblock %}
