{% extends 'template.html' %}
{% block titulo %} - Marketplace {% endblock %}
{% block corpo %}

    <table class="table">
        <tr>
            <th>Marketplace</th>
            <th>Descrição</th>
            <th colspan="2">Ações</th>
        </tr>
        {% for mkt in marketplaces %}
            <tr>
                <td>{{mkt.name}}</td>
                <td>{{mkt.description}}</td>
                <td><a href="/alterar_marketplace/{{mkt.identifier}}">Editar</a></td>
                <td><a href="/deletar_marketplace/{{mkt.identifier}}">Excluir</a></td>
            </tr>
        {% endfor %}
    </table>

<a href='/'>Voltar</a>

{% endblock %}