{% extends 'template.html' %}
{% block titulo %} - Produto {% endblock %}
{% block corpo %} 
<div>
<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td><a href="/delete_product/{{product.identifier}}">Deletar</a></td>
            <td><a href="/alterar_produto/{{product.identifier}}">Alterar</a></td>
        </tr>
        {%endfor%}
    </table>

    <a href='/'>Voltar</a>
</div>

{% endblock %}