{% extends 'template.html' %}
{% block titulo %} - Histórico {% endblock %}
{% block corpo %} 
<div>
    <table class="table">
        <thead>
            <th>Hora</th>
            <th>Data</th>
            <th>Descrição</th>
        </thead>
        <tbody>
            {% for log in logs %}
                {% if 'Cadastro' in log.message %}
                    {% set valor_classe = "table-success" %}
                {% endif %}
                {% if 'Listagem' in log.message %}
                    {% set valor_classe = "table-info" %}
                {% endif %}
                {% if 'Deletando' in log.message %}
                    {% set valor_classe = "table-danger" %}
                {% endif %}
                {% if 'Update' in log.message %}
                    {% set valor_classe = "table-warning" %}
                {% endif %}
                <tr class={{valor_classe}}>
                    <td>{{log.hour}}</td>
                    <td>{{log.date}}</td>
                    <td>{{log.message}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href='/'>Voltar</a>

{% endblock %}