{% extends 'template.html' %}
{% block titulo %} - Sellers {% endblock %}
{% block corpo %} 
<div>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Phone</th>
            <th>E-mail</th>
        </thead>
        <tbody>
            {% for seller in sellers %}
            <tr>
                <td>{{seller.name}}</td>
                <td>{{seller.email}}</td>
                <td>{{seller.phone}}</td>
                <td><a href="/delete_seller/{{seller.identifier}}">Deletar</a></td>
                <td><a href="/alterar_seller/{{seller.identifier}}">Alterar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href='/'>Voltar</a>
</div>

{% endblock %}